.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

@media (min-width: 500px) {
    .SideDrawer {
        /* display: none; */
        -webkit-box-shadow: 5px 6px 9px 0px rgba(181, 181, 181, 0.19);
        -moz-box-shadow: 5px 6px 9px 0px rgba(181, 181, 181, 0.19);
        box-shadow: 5px 6px 9px 0px rgba(181, 181, 181, 0.19);
        z-index: unset;
    }

    .Close {
        transform: translateX(0);
    }

    .Logo {
        display: none;
    }

    .Navigation{
         margin-top: 52px;
    }
}

.Logo {
    height: 11%;
    margin-bottom: 32px;
}